.main-container {
	display: flex;
	justify-content: flex-start;
	padding: 10px;
}

.right-column {
	margin: 15px 0 0 40px;
}

.right-column > div {
	margin-bottom: 25px;
}

.list-group-item {
	display: flex;
	justify-content: space-between;
}

.trip-item {
	display: block;
}